<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet"/>
    <!--
      <link rel="icon" type="image/png" href="/logo.png">
    -->
    <title>ExpressJS Template - 500</title>
  </head>
  
  <body>
    <h1>ExpressJS Template</h1>
    <h2>Error: <%= error.message %></h2>
    <% if (settings['verbose errors']) { %>
      <pre><%= error.stack %></pre>
    <% } else { %>
      <p>An error occurred!</p>
    <% } %>
  </body>
</html>